@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&family=Playfair+Display:wght@500;600;700;800;900&display=swap")

$red: #FB7560
$yellow: #F6CB1D
$white: #F9F9F9
$lightGrey: #E0E0E0
$mediumGrey: #9E9E9E
$black: #333333
$gapSize: 9rem

@mixin size($w, $h:$w)
  width: $w
  height: $h

@mixin flexLeft
  display: flex
  justify-content: flex-start
  align-items: center

@mixin flexRight
  display: flex
  justify-content: flex-end
  align-items: center

@mixin flexCenter
  display: flex
  justify-content: center
  align-items: center

@mixin verticalCenter
  display: flex
  flex-direction: column
  align-items: center

@mixin fixed($l, $t)
  position: fixed
  left: $l
  top: $t

::-webkit-scrollbar
  // width: 0.8vw
  width: 0
// ::-webkit-scrollbar-track // Track
//   background-color: transparent
// ::-webkit-scrollbar-thumb // Handle
//   background-color: $black

::selection
  background-color: $lightGrey
  
*
  margin: 0
  padding: 0
  box-sizing: border-box
  outline: none
  appearance: none
  user-select: none
  cursor: url('../img/icn-arrow.png'), auto

html, body
  width: 100%
  font-family: 'Merriweather', serif
  font-size: 1.168vw
  text-size-adjust: none
  font-weight: 700
  letter-spacing: 0.05rem
  color: $black
  background-color: $white
  scroll-behavior: smooth
body
  padding: 3.18rem 5.6rem

a
  font-size: 1rem
  color: $black
  cursor: url('../img/icn-hover.png'), pointer
  &:active
    color: $black
  &:visited
    color: $black
img
  +size(100%, auto)
  pointer-events: none

nav
  padding: 1rem 0
  +flexLeft
  .line
    margin-left: 1.04rem
    margin-top: 0.1rem
    width: 11rem
    border-bottom: 0.1rem solid $black
  .about
    margin-left: auto
    margin-right: 2.49rem

main
  +verticalCenter
  +size(100%, 46.85rem)
  border-bottom: 0.1rem solid grey
  margin-bottom: $gapSize
  position: relative
  [class^="circle"]
    position: absolute
    border-radius: 50%
  .circle-yellow
    margin-left: -14.65rem
    margin-top: 17.2rem
    +size(16.73rem)
    background-color: $yellow
  .circle-red
    margin-left: 11.9rem
    margin-top: -1.8rem
    +size(20.9rem)
    background-color: $red
  .building
    position: absolute
    bottom: 0
    +size(57rem, auto)
  article
    position: absolute
    top: 20.5rem
    width: 19.16rem
    &.left
      left: 0
    &.right
      right: 0
    p
      font-size: 0.94rem
      font-weight: 700
      line-height: 1.54
    h1
      font-size: 2.35rem
      font-weight: 700
      letter-spacing: 0.15rem
      margin-top: 0.26rem
      margin-bottom: 0.95rem
    img
      display: none
      mix-blend-mode: multiply // 利用混合模式去背 https://developer.mozilla.org/zh-CN/docs/Web/CSS/mix-blend-mode
  .name
    position: absolute
    top: 3.2rem
    font-family: 'Playfair Display', serif
    font-size: 8.3rem
    font-weight: 900
    letter-spacing: 0

.design-guide
  margin-top: 6.53rem
  width: 99%
  +fixed(50%, 50%)
  transform: translate(-50%, -50%)
  // display: none
  img    
    opacity: 0.3
    margin-top: -6rem
// nav, main
//   display: none

.works
  li
    list-style: none
    display: flex
    +size(74.4rem, 33.5rem)
    margin-bottom: $gapSize
    &:nth-of-type(2n)
      flex-direction: row-reverse
      section
        margin-left: 0
        margin-right: auto
    a
      +size(44.64rem, 33.48rem) // width: 60%
      background-color: $lightGrey
      cursor: url('../img/arrow.svg') 50 50, pointer
      &:hover
        img
          animation-play-state: running
          filter: grayscale(0%)
          transition: 0.5s
      img
        animation-play-state: paused
        filter: grayscale(100%)
        transition: 0.5s
    section
      margin-left: auto
      margin-top: 3.04rem
      width: 27.4rem
      .number
        +flexCenter
        font-size: 13.5rem
        font-weight: normal
        color: $lightGrey
        margin-left: 10rem
        margin-bottom: -1.58rem
      .title
        font-size: 1.62rem
        margin-bottom: 0.58rem
      .subtitle
        font-size: 1.12rem
        color: $mediumGrey

#contact


// // Screenshot setting
// @media screen and (max-width: 1280px) // size < 1280px
//   body
//     background-color: white
//   .circle-yellow
//     display: none
//   article
//       border: 0.05rem solid grey

// 為解決小尺寸設備文章形變，在小尺寸設備上以圖片代替文字
@media screen and (max-width: 1280px) // ≤ 1280px
  main
    article
      p, h1
        display: none
      img
        display: block
        
// 瀏覽器最小字體為 12px，在小尺寸的設備上以 px 和 transform: scale() 代替 rem
@media screen and (max-width: 768px) // ≤ 768px
  body
    margin-top: -6px
@media screen and (max-width: 598px) // ≤ 598px
  nav > *
    transform: scale(0.8)
  nav
    .line
      width: 78px
      margin-left: -10px
      margin-top: 3px
    .about
      margin-right: 0